---
import { Github, InstagramIcon, MessageCircle } from 'lucide-solid'

import Avatar from '@/components/avatar.astro'
import TextButton from '@/components/text-button.astro'
import SmallButton from '@/components/small-button.astro'
---

<html lang="pt-br" data-theme="synthwave">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>quantum | linktree</title>
  </head>

  <body class="text-center">
    <main class="inline-grid gap-10 p-10">
      <header>
        <Avatar />

        <div>
          <span>quantum</span>
        </div>
      </header>

      <section class="inline-grid gap-4">
        <TextButton link="https://www.instagram.com/_quantum_oficial/profilecard/?igsh=bjV5djBmNTVpYmRv">
          Conheça Nosso Trabalho!
        </TextButton>
        <TextButton link="">Fale Conosco!</TextButton>
        <TextButton link="https://github.com/labs-quantum"> Descubra quem somos! </TextButton>
        <TextButton link=""> Visite Nosso Site! </TextButton>
      </section>

      <footer class="inline-flex justify-center gap-4">
        <SmallButton link="https://www.instagram.com/_quantum_oficial/profilecard/?igsh=bjV5djBmNTVpYmRv">
          <InstagramIcon />
        </SmallButton>

        <SmallButton link="https://github.com/labs-quantum">
          <Github />
        </SmallButton>

        <SmallButton link="">
          <MessageCircle />
        </SmallButton>
      </footer>
    </main>
  </body>
</html>
