---
---

<html lang="pt-br" data-theme="synthwave">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content="{Astro.generator}" />
    <title>Quantum</title>
  </head>
  <body>
    <div id="social" class="flex w-auto h-screen items-center justify-center flex-col space-y-10 z-0">
		<div id="Instagram" >
			<button id="Instagram" class="btn bg-gray-500 w-60">
				<a href="">Instagram</a>
			</button>
		</div>
		<div>
			<button id="GitHub" class="btn bg-gray-500 w-60">
				<a href="">WhatsApp</a>
			</button>
		</div>
		<div>
			<button id="NossoSite" class="btn bg-gray-500 w-60">
				<a href="">GitHub</a>
			</button>
		</div>
		<div>
			<button id="NossoSite" class="btn bg-gray-500 w-60">
				<a href="">Conheçan nosso Site!!</a>
			</button>
		</div>
	</div>
	
  </div>
  </body>
</html>
