---
import { Github, Instagram } from 'lucide-solid'

import Avatar from '@/components/avatar.astro'
import SmallButton from '@/components/small-button.astro'
import TextButton from '@/components/text-button.astro'
---

<html lang="pt-br" data-theme="quantum">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>quantum | linktree</title>
  </head>

  <body class="text-center selection:bg-neutral selection:text-base-100">
    <main class="inline-grid w-full gap-10 px-4 py-10 sm:w-auto">
      <header class="space-y-2">
        <Avatar />

        <span class="block font-medium">@quantum</span>
      </header>

      <section class="inline-grid gap-4 sm:w-60">
        <TextButton link="">Conheça Nosso Trabalho!</TextButton>
        <TextButton link="">Fale Conosco!</TextButton>
        <TextButton link="">Descubra quem somos!</TextButton>
        <TextButton link="">Visite Nosso Site!</TextButton>
      </section>

      <footer class="inline-flex justify-center gap-2">
        <SmallButton link="https://www.instagram.com/_quantum_oficial/profilecard/?igsh=bjV5djBmNTVpYmRv">
          <Instagram strokeWidth={1.4} />
        </SmallButton>

        <SmallButton link="https://github.com/labs-quantum">
          <Github strokeWidth={1.4} />
        </SmallButton>
      </footer>
    </main>
  </body>
</html>
